backcall
certifi
chardet
coverage
decorator
Django
django-cors-headers
djangorestframework
idna
ipython
ipython-genutils
jedi
parso
pexpect
pickleshare
pkg-resources
pre-commit
prompt-toolkit
ptyprocess
Pygments
pytz
requests
six
traitlets
urllib3
wcwidth
